/* The following block can be included in a custom.scss */

/* make the customizations */
$theme-colors: (
  "primary": #16b2bf,
  "secondary": #ffc800,
  "dark": #000000,
  "success": #198754,
  "info": #0dcaf0,
  "warning": #1C2F3C,
  "danger": #dc3545,
  "light": #f8f9fa,
);

/* import bootstrap to set changes */
@import "../node_modules/bootstrap/scss/bootstrap.scss";

$primary-color: #16b2bf;
$secondary-color: #ffc800;
$white-color: white;
$black-color: #000;
$tertiary-color: #9D9E9E;
$dark-color: #001524;

.SRLDownloadButton {
    display: none !important;
}

.custom {
    color: $white-color;
    text-decoration: none;
    &:hover {
        color: $secondary-color;
    }
}

.breadcrumb {
    .breadcrumb-item {
        &.active {
            color: $white-color;
        }
    }
}

.fa-trash-can {
    cursor: pointer;
}

#top-header {
    .nav-link {
        color: $white-color;
        &:hover {
            color: $black-color;
        }
    }
}
#navbar {
  .nav-link {
      padding: 30px 20px;
      align-items: center;
      color: $primary-color;
      font-weight: 600;
      &:hover {
          color: $secondary-color;
      }
  }
  .dropdown-item {
      color: $primary-color;
      font-weight: 600;
      &:hover {
          color: $secondary-color;
          background-color: $white-color;
      }
  }
}

#footer {
ul {
    color: $white-color;
}                                                                                             
h2 {
    color: $secondary-color;
    font-size: 18px;
}
address {
    color: $white-color;
}
a {
    text-decoration: none;
    color: $white-color;
    &:hover {
        color: $secondary-color;
    }

}

}

#quality {
    background-color: $dark-color;
}